{% extends 'base.html.twig' %}

{% block title %}Reparations index{% endblock %}

{% block body %}
    <h1>Reparations index</h1>

    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_signalement</th>
                <th>Date_start</th>
                <th>Date_end</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reparation in reparations %}
            <tr>
                <td>{{ reparation.id }}</td>
                <td>{{ reparation.dateSignalement ? reparation.dateSignalement|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reparation.dateStart ? reparation.dateStart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reparation.dateEnd ? reparation.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_reparations_show', {'id': reparation.id}) }}">show</a>
                    <a href="{{ path('app_reparations_edit', {'id': reparation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reparations_new') }}">Create new</a>

    <h2>Planning des Réparations</h2>

    <div id="calendar"></div>


    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <script>
     var events = [
        {% for reparation in reparations %}
        {
            title: "Réparations de {{ reparation.getProduit().getNom() }}",
            start: "{{ reparation.dateStart ? reparation.dateStart|date('Y-m-d\\TH:i:s') : '' }}",
            end: "{{ reparation.dateEnd ? reparation.dateEnd|date('Y-m-d\\TH:i:s') : '' }}"
        },
        {% endfor %}
    ];
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
    initialView: 'dayGridWeek',
    events: events
    });
    calendar.render();
    </script>
{% endblock %}
