{% extends 'base.html.twig' %}

{% block title %}Reparations index{% endblock %}

{% block body %}
    <h1 class="text-dark mb-2 text-2xl font-semibold dark:text-white">Reparations index</h1>

    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Date_signalement</th>
                <th>Statuts</th>
                <th>Date_start</th>
                <th>Date_end</th>
                <th>Réparateurs</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% if reparations is not empty %}
            {% for reparation in reparations %}
                <tr>
                    <td>{{ reparation.getProduit().getNom() }}</td>
                    <td>{{ reparation.dateSignalement ? reparation.dateSignalement|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ reparation.getStatus().getEtat() }}</td>
                    <td>{{ reparation.dateStart ? reparation.dateStart|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ reparation.dateEnd ? reparation.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ reparation.getReparateur() and reparation.getReparateur().getEmail() ? reparation.getReparateur().getEmail() : 'Non assigné' }}</td>
                    <td>
                        <a href="{{ path('app_reparations_show', {'id': reparation.id}) }}" class="inline-block bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600 transition duration-300">Détail</a>
                        <a href="{{ path('app_reparations_edit', {'id': reparation.id}) }}" class="inline-block bg-yellow-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600 transition duration-300">Modifier</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="7" class="text-center">Aucune réparation trouvée.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>


    <a href="{{ path('app_reparations_new') }}" class="inline-block bg-green-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600 transition duration-300">Ajouter une Réparations</a>

    <h2 class="text-dark my-4 text-2xl font-semibold dark:text-white">Planning des Réparations</h2>

    <div id="calendar"></div>


    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <script>
     var events = [
        {% for reparation in reparations %}
        {
            title: "Réparations de {{ reparation.getProduit().getNom() }}",
            start: "{{ reparation.dateStart ? reparation.dateStart|date('Y-m-d\\TH:i:s') : '' }}",
            end: "{{ reparation.dateEnd ? reparation.dateEnd|date('Y-m-d\\TH:i:s') : '' }}"
        },
        {% endfor %}
    ];
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
    locale: 'fr',
    initialView: 'dayGridWeek',
    events: events
    });
    calendar.render();
    </script>
{% endblock %}
