{% extends 'base.html.twig' %}

{% block title %}Emplacement{% endblock %}

{% block body %}
    <h1>Emplacement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ emplacement.id }}</td>
            </tr>
            <tr>
                <th>Rayon</th>
                <td>{{ emplacement.rayon }}</td>
            </tr>
            <tr>
                <th>Etagere</th>
                <td>{{ emplacement.etagere }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_emplacement_index') }}">back to list</a>

    <a href="{{ path('app_emplacement_edit', {'id': emplacement.id}) }}">edit</a>

    {{ include('emplacement/_delete_form.html.twig') }}
{% endblock %}
