<div class="max-w-md mx-auto p-6 bg-white shadow-md rounded-lg">
    {{ form_start(form, {'attr': {'class': 'space-y-4'}}) }}
        {{ form_widget(form, {
            'attr': {'class': 'block w-full p-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500'}
        }) }}
        <div class="text-right">
            <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-md shadow hover:bg-blue-600">
                {{ button_label|default('Enregistrer') }}
            </button>
            <a href="{{ path('app_produit_index') }}" class="px-4 py-2 bg-green-500 text-white rounded-md shadow hover:bg-green-600 transition duration-300 ease-in-out">
                Retour à la liste
            </a>
            <div class="mt-4">
    </div>
        </div>
    {{ form_end(form) }}
</div>
