{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
<h1 class="text-3xl font-bold text-gray-800 mb-4">Historique du produits : {{ produit.nom }}</h1>

    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>Date de prêt</th>
                <th>Date de retour</th>
                <th>Nom associé</th>
            </tr>
        </thead>
        <tbody>
            {% for historique in produit.historiques %}
                <tr>
                    <td>{{ historique.datePret|date('d/m/Y') }}</td>
                    <td>{{ historique.dateRetour|date('d/m/Y') }}</td>
                    <td>{{ historique.nom }}</td>
                </tr>
            {% else %}
                Aucun historique pour ce produit
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_produit_index') }}">back to list</a>


{% endblock %}