{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}


{% block body %}
    <h1 class="text-dark mb-2 text-2xl font-semibold dark:text-white">Produit index</h1>

    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Catégorie</th>
                <th>Etat</th>
                <th>Localisation</th>
                {% if app.user %}
                    <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.getIdCategorie().getNomCategorie() }}</td>
                <td>{{ produit.getIdEtat().getNom() }}</td>
                <td>{{ produit.getIdEmplacement().getRayon()}}, {{ produit.getIdEmplacement().getEtagere() }}</td>    
                {% if app.user %}
                <td>
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}" class="inline-block bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600 transition duration-300">Détail</a>
                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}" class="inline-block bg-yellow-500 text-white font-semibold py-2 px-4 rounded hover:bg-yellow-600 transition duration-300">Modifier</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    {% if app.user %}
    <a href="{{ path('app_produit_new') }}" class="inline-block bg-green-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600 transition duration-300">Ajouter un produit</a>
    {% endif %}
{% endblock %}

