{% extends 'base.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %}
    <h1 class="text-dark mb-2 text-2xl font-semibold dark:text-white">Historique</h1>

    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_pret</th>
                <th>Date_retour</th>
                <th>Nom</th>
                <th>Produit</th>
                <th>Retour</th>
                {% if app.user %}
                    <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for historique in historiques %}
            <tr>
                <td>{{ historique.id }}</td>
                <td>{{ historique.datePret|date('d/m/y')}}</td>
                <td >{{ historique.dateRetour|date('d/m/y') }}</td>
                <td>{{ historique.nom }}</td>
                <td>{{ historique.getProduit().getNom() }}</td>
                <td>{{ historique.retour ? "Oui" : "Non" }}</td>
                {% if app.user %}
                <td>
                    {% if not historique.retour %}
                    <a href="{{ path('app_historique_retour', {'id': historique.id})}}" class="inline-block bg-orange-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600 transition duration-300">Retour</a>
                    {% endif %}
                    <a href="{{ path('app_historique_show', {'id': historique.id}) }}" class="inline-block bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600 transition duration-300">Détail</a>
                    <a href="{{ path('app_historique_edit', {'id': historique.id}) }}" class="inline-block bg-yellow-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600 transition duration-300">Modifier</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2 class="text-dark my-4 text-2xl font-semibold dark:text-white">Planning des prêts des produits</h2>

    <div id="calendar"></div>

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <script>
        function getRandomColor() {
            const letters = '0123456789ABCDEF';
            let color = '#';
            for (let i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        var events = [
            {% for historique in historiques %}
            {
                title: "Prêts de {{  historique.getProduit().getNom() }}",
                start: "{{ historique.datePret ? historique.datePret|date('Y-m-d') : '' }}",
                end: "{{ historique.dateRetour ? historique.dateRetour|date('Y-m-d') : '' }}",
                backgroundColor: getRandomColor() 
            },
            {% endfor %}
        ];

        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            locale: 'fr',
            initialView: 'dayGridMonth',
            events: events
        });
        calendar.render();
    </script>

    {% if app.user %}
    <a href="{{ path('app_historique_new') }}" class="inline-block bg-green-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600 transition duration-300">Ajouter un prêt</a>
    {% endif %}


{% endblock %}
