{% extends 'base.html.twig' %}

{% block title %}Hello GestionController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Gestion de l'inventaire</h1>

    <ul>
        <li>Nombres de produits : {{ nbproduit }}</li>
        <li>Nombres de produits hors d'usage : {{ nbproduithorsdusage }} / {{nbproduit}}</li>
        <li>Nombres de produits à réparer : {{ nbproduitARepar }}</li>
        <li>Nombres de produits en prêt : {{ nbPret }} / {{nbproduit}}</li>
        <li>Nombres de produits retourné : {{ nbRetour }} / {{nbproduit}}</li>
        <li>Nombres de catégorie : {{ nbCat }}</li>
        <li>Nombres en retard : {{ Retard }}</li>
    </ul>

</div>
{% endblock %}
