{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold mb-6">Les Catégories : </h1>

    <div>
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for categorie in categories %}
                <tr>
                    <td>{{ categorie.id }}</td>
                    <td>{{ categorie.nomCategorie }}</td>
                    <td>
                        <a href="{{ path('app_categorie_show', {'id': categorie.id}) }}" class="mr-2 hover:underline">Détail</a>
                        <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}" class="hover:underline">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3" class="px-4 py-2 text-center text-gray-500">Aucune Catégories trouvés</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="mt-4">
        <a href="{{ path('app_categorie_new') }}">Ajouter une Catégorie</a>
    </div>
{% endblock %}
