{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1 class="text-dark mb-2 text-2xl font-semibold dark:text-white">Les Catégories : </h1>

    <div>
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for categorie in categories %}
                <tr>
                    <td>{{ categorie.id }}</td>
                    <td>{{ categorie.nomCategorie }}</td>
                    <td>
                        <a href="{{ path('app_categorie_show', {'id': categorie.id}) }}" class="inline-block bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600 transition duration-300">Détail</a>
                        <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}" class="inline-block bg-yellow-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600 transition duration-300">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3" class="px-4 py-2 text-center text-gray-500">Aucune Catégories trouvés</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="mt-4">
        <a href="{{ path('app_categorie_new') }}" class="inline-block bg-green-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600 transition duration-300">Ajouter une Catégorie</a>
    </div>
{% endblock %}
